
<div class="modal-dialog container" id="changePass" role="document" style="justify-content: center" >
        <div class="modal-content" >
                <div class="modal-header">                    
                    <h3 class="modal-title" id="modalLabel">Reseteo de Contraseña Sistema Nuebus</h3>
                </div>
                <div class="modal-body">    
                        <section class="sample-app-content">                                                                                   
                            <form  [formGroup]="changeForm"  >                               
                                <div class="form-group">
                                    <input type="password"  class="form-control" placeholder="Nueva Contraseña"
                                    formControlName="password" >                                                                                        
                                </div> 
                                <control-mensajes [errores]="errMsgs.password"></control-mensajes> 
                                <div class="form-group">
                                        <input type="password"  class="form-control" placeholder="Confirmar nueva Contraseña"
                                        formControlName="confirmPassword" >                                                                                        
                                </div>                                                           
                                <control-mensajes [errores]="errMsgs.confirmPassword"></control-mensajes>  
                                <div class="form-group">
                                    <button type="button" (click)="cambiarClave()" 
                                    class="btn btn-primary btn-primary-orange btn-block"  >
                                        Enviar</button>                              
                                </div>                            
                            </form>                  
                        </section>               
                </div>              
        </div>       
</div>    

    
    