<!-- Page Content -->
<div id="main" class="container-fluid">
  <!-- Navigation -->  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                <img src='assets/img/IMQ.png' alt="" width="150" height="59" >
            </span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/choferes']" 
                           [appTienePermiso]="['ROLE_CHOFERES_LISTAR']" >Personal</a></li>
                    <li><a [routerLink]="['/incidencias']"
                           [appTienePermiso]="['ROLE_INCIDENCIAS_LISTAR']" >Incidencias</a></li>
                    <li><a [routerLink]="['/vehiculos']"
                           [appTienePermiso]="['ROLE_UNIDADES_LISTAR']"  >Unidades</a></li>
                    <li><a [routerLink]="['/viajesEspeciales']"
                           [appTienePermiso]="['ROLE_VIAJES_ESPECIALES_LISTAR']"  >Viajes Especiales</a></li>
                    <!--li><a [routerLink]="['/diagramacion']">Diagramacion</a></li-->
                    <li><a [routerLink]="['/diagr/idaVtaList']" 
                           [appTienePermiso]="['ROLE_DIAGRAMACION_LISTAR']" >Diagramación</a></li>
                  
                    <li><a [routerLink]="['/vencimientos']"
                           [appTienePermiso]="['ROLE_VENCIMIENTOS_LISTAR']" >Vencimientos</a></li>
                           
                    <!--<li><a [routerLink]="['/grupos']"
                           [appTienePermiso]="['ROLE_GRUPOS_LISTAR','ROLE_GRUPOS_TODOS_LISTAR']" >
                           Perfiles
                        </a>
                    </li>
                    <li><a [routerLink]="['/usuarios']"
                           [appTienePermiso]="['ROLE_USUARIOS_LISTAR','ROLE_USUARIOS_MODIFICAR','ROLE_USUARIOS_TODOS_LISTAR' ]" >
                           Usuarios
                        </a>
                    </li> -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span>Panel Control</span></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/grupos']"
                                [appTienePermiso]="['ROLE_GRUPOS_LISTAR','ROLE_GRUPOS_TODOS_LISTAR']" >
                                Perfiles
                             </a>
                            </li>
                            <li><a [routerLink]="['/usuarios']"
                                    [appTienePermiso]="['ROLE_USUARIOS_LISTAR','ROLE_USUARIOS_MODIFICAR','ROLE_USUARIOS_TODOS_LISTAR' ]" >
                                    Usuarios
                                </a>
                            </li> 
                            <li><a [routerLink]="['/confVencimiento']"
                                [appTienePermiso]="['ROLE_CONF_VENCIMIENTOS_LISTAR']" >Conf Vencimiento</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Empresa {{_us.usuario.empresa}}</a></li>
                            <li><a href="#">Usuario {{_us.usuario.username}}</a></li>
                            <li><a href="#" (click)="_us.logout()" class='nav-link pointer'>
                                    Salir <span class="glyphicon glyphicon-log-out"></span> </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
</div>
  