.container {
    /*  padding: 25px;
    position: fixed;*/
    padding-top: 40px;
    /*font-family:'Roboto';*/
    width: 40%;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.group-btn {
    width: 100%;
}

.btn {
    padding: 7px 25px;
    color: #EDEDED;
}

.btn:hover {
    font-weight: bold !important;
    cursor: hand;
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 90%;
    }
}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container {
        width: 90%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .container {
        width: 40%;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 90%;
        padding-top: inherit;
    }
}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container {
        width: 90%;
        padding-top: inherit;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .container {
        width: 40%;
        padding-top: inherit;
    }
    /* ----------- iPhone 6 ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        .container {
            width: 90%;
            padding-top: inherit;
        }
    }
    /* Portrait */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        .container {
            width: 90%;
            padding-top: inherit;
        }
    }
    /* Landscape */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .container {
            width: 40%;
            padding-top: inherit;
        }
    }
    /* ----------- iPhone 6+ ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        .container {
            width: 90%;
            padding-top: inherit;
        }
    }
    /* Portrait */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        .container {
            width: 90%;
            padding-top: inherit;
        }
    }
    /* Landscape */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        .container {
            width: 40%;
            padding-top: inherit;
        }
    }
    /*  celulares en general */
    @media only screen and (max-device-width: 480px) {
        .container {
            width: 90%;
            padding-top: inherit;
        }
    }
    @media only screen and (max-device-width: 480px) and (orientation:landscape) {
        .container {
            width: 40%;
            padding-top: inherit;
        }
    }
}