<form ngNativeValidate   (ngSubmit)="onClick()" [formGroup]="changeForm" >
    <h1 mat-dialog-title>Cambiar Contraseña</h1>
    <div mat-dialog-content>          
      <mat-form-field>
          <input  matInput placeholder="Contraseña Actual" formControlName="oldPassword" 
                  type="password" uppercase autocomplete="new-password" />             
           <mat-error *ngIf="changeForm.get('oldPassword').hasError('required')">
                Contraseña Actual es <strong>requerida.</strong>
           </mat-error>  
      </mat-form-field>
      <mat-form-field>
        <input  matInput placeholder="Nueva Contraseña" formControlName="password" 
                type="password" uppercase autocomplete="new-password" />             
         <mat-error *ngIf="changeForm.get('password').hasError('required')">
                Nueva Contraseña es <strong>requerida.</strong>
         </mat-error>  
      </mat-form-field>
      <mat-form-field>
        <input  matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword" 
                type="password" uppercase autocomplete="new-password" />             
         <mat-error *ngIf="changeForm.get('confirmPassword').hasError('required')">
                La confirmacion es <strong>requerida.</strong>
         </mat-error>  
         <mat-error *ngIf="changeForm.get('confirmPassword').hasError('notEquals')">
                La contraseña y confirmacion deben coincidir.
         </mat-error>  
       </mat-form-field>      
    </div>    
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="null">Cancelar</button>       
      <button mat-button  type="submit" cdkFocusInitial>Guardar</button>
    </div>
</form>

