<br>
<br>
<div class="container">        

<form [formGroup]="viajeForm" class="form-inline" novalidate>
    
            
        <div class="row panel panel-default">

            <div class="panel-heading">
                <span>Busqueda Viajes Especiales </span>                        
            </div>                           
                    
            <div class="panel-body" >
                    <div class="form-group col-md-2 fecha">
                        <input type="date" class="form-control" placeholder="Fecha Inicio" title="Fecha Inicio" formControlName="fInicio"                                
                        data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >
                        <div class="romi">
                        <!-- <control-mensajes [errores]="todosErrores[i].fInicio"></control-mensajes> -->
                        </div>   
                    </div>                                                
                    
                    <div class="form-group col-md-2 fecha">
                        <input type="date" class="form-control" placeholder="Fecha Fin" title="Fecha Fin" formControlName="fFin"
                        data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >
                        <div class="romi">
                            <!--<control-mensajes [errores]="todosErrores[i].fFin"></control-mensajes>-->
                        </div>    
                    </div>                   
                    
                    <div class="form-group col-md-2">
                        <a class="btn btn-primary btn-ms"
                            (click)="buscarViajesEspeciales()" >Buscar </a>
                    </div>     
            </div>        
            
        </div>  
    
    <!--  <p>{{ incByChoferForm.value | json }} </p>  -->
</form>

<ng-container *ngIf="viajePage != null" >   
    <div id="list" class="row" style="margin-top: 10pt;">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                      <!--  <th>
                           <app-table-sort [table]="self" [page]="viajePage" [label]="'Id'" [property]="'id'"></app-table-sort>
                        </th> -->                       
                        <th>
                            <app-table-sort [table]="self" [page]="viajePage" [label]="'Salida'" [property]="'fechaHoraSalida'"></app-table-sort>
                         </th> 
                        <th>                           
                           <app-table-sort [table]="self" [page]="viajePage" [label]="'Origen'" [property]="'origen'"></app-table-sort>
                        </th>  
                        <th>
                            <app-table-sort [table]="self" [page]="viajePage" [label]="'Regreso'" [property]="'fechaHoraRegreso'"></app-table-sort>
                         </th>           
                        <th>                                       
                           <app-table-sort [table]="self" [page]="viajePage" [label]="'Destino'" [property]="'destino'"></app-table-sort>
                        </th>                        
                        <th>                                       
                          <!--<app-table-sort [table]="self" [page]="viajePage" [label]="'Interno'" [property]="internod"></app-table-sort>-->                        
                          Interno
                        </th>     
                        <th>                                       
                           <!-- <app-table-sort [table]="self" [page]="viajePage" [label]="'Choferes'" [property]="choferes"></app-table-sort>-->
                           Choferes
                        </th>  
                        <th class="actions"> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let viaje of viajePage.content">
                      <!--  <td>{{viaje.id}}</td> -->
                        <td>{{viaje.fechaHoraSalida | date:'EEE dd/MM/yyyy HH:mm' }}</td>                                      
                        <td>{{viaje.origen}}</td>        
                        <td>{{viaje.fechaHoraRegreso | date:'EEE dd/MM/yyyy HH:mm' }}</td>                                                                              
                        <td>{{viaje.destino}}</td>   
                        <td>

                            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0" style="margin-top: 0pt;" >
                                <tr *ngIf="viaje.vehiculo != null" 
                                     [style.backgroundColor] = "viaje.vehiculo.vehEstado==1 ?  '#ff8000' : '#88bdea'" >                                  
                                    <td [style.font-size]="'9px'" >                                        
                                        {{viaje.vehiculo.vehiculoPK.vehInterno }} 
                                    </td>
                                </tr> 
                                
                                <tr *ngIf="viaje.vehiculo == null"  [style.backgroundColor] = "'#f1f144'">
                                        <td [style.font-size]="'9px'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                                    
                                </tr>
                                
                            </table>    
                        </td>
                        
                        <td>
                                <!--<span  [style.backgroundColor] = "true ?  'gray' : 'gray'">  {{ unChofer.cho_nombre }} </span>-->
                                <table class="table table-striped table-hover" cellspacing="0" cellpadding="0" style="margin-top: 0pt;" >
                                    
                                    <tr *ngFor="let unChofer of viaje.choferes" 
                                        [style.backgroundColor] = "unChofer.cho_estado==1 ?  '#ff8000' : '#88bdea'">                                      
                                        <td  [style.font-size]="'9px'" >{{ unChofer.cho_nombre }}</td>                                    
                                    </tr>     
                                    
                                    <tr *ngIf="viaje.choferes.length==0"  [style.backgroundColor] = "'#f1f144'">
                                            <td [style.font-size]="'9px'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                                    
                                    </tr>
                                    
                                </table>
                        </td> 
                        <td class="actions">                               
                                <a class="btn btn-success btn-xs" (click)="viajeInterno=viaje;clearAlert()" 
                                    data-toggle="modal" data-target="#details-interno">Interno</a>  
                                <a class="btn btn-success btn-xs" data-toggle="modal"  (click)="openModalChoferes(viaje)"        
                                                data-target="#details-modal">Choferes</a>                                
                                <a class="btn btn-success btn-xs" data-toggle="modal" (click)="viajeComent=viaje;clearAlert();"
                                                data-target="#details-coment"  >Cment</a>                 
                                <a class="btn btn-danger btn-xs" (click)="currentViaje=viaje;clearAlert()" 
                                    data-toggle="modal" data-target="#delete-modal">Eliminar</a> 
                        </td>        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <alert></alert>

  

    <app-table-pagination  class="text-center" [table]="self" [page]="viajePage"></app-table-pagination>
</ng-container> 
  
    <div id="actions" class="row">
        <div class="col-md-12 text-left">
            <a class="btn btn-primary" data-toggle="modal" 
               (click)="crearNuevo()"
               data-target="#nuevo-modal">Crear</a>
        </div>
 </div>



<!-- Modal Crear-->
<ng-container *ngIf="viajeNuevo!= null">
  <div class="modal fade" id="nuevo-modal" tabindex="-1" role="dialog"
       data-backdrop="static" data-keyboard="false"  aria-labelledby="modalLabel">   
          <div class="modal-dialog" role="document">     
              <app-viajes-especiales [viajeEspecial]="viajeNuevo" >                    
              </app-viajes-especiales> 
          </div>    
  </div>
</ng-container >

  <!-- Modal Details Comentarios-->
<ng-container  *ngIf="viajeComent != null">
    <div class="modal fade" id="details-coment" tabindex="-1" role="dialog" 
            data-backdrop="static" data-keyboard="false" aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
               <app-viaje-edicion [viajeEspecial]="viajeComent" >
               </app-viaje-edicion>
            </div>    
    </div> 
</ng-container >

 

  <!-- Modal Details Interno-->
  <ng-container  *ngIf="viajeInterno!=null">
        <div class="modal fade" id="details-interno" tabindex="-1" role="dialog" 
                data-backdrop="static" data-keyboard="false" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                   <app-diagr-interno [viajeEspecial]="viajeInterno" >
                   </app-diagr-interno>
                </div>    
        </div> 
   </ng-container>


<!-- Modal Delete-->
<div  class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel"></h4>
                </div>
                <div class="modal-body">
                    Desea eliminar el Viaje Especial ?
                 </div>
                <div class="modal-footer">
                    <button type="button" (click)="delete(currentViaje)" class="btn btn-primary" data-dismiss="modal">Si</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div >


</div>

<modal-placeholder></modal-placeholder>