<ng-container   *ngIf="!_vv.vuelta||_vv.editable">

    <form #f="ngForm" [formGroup]="formVueltas" (ngSubmit)="salvarForm( f )" ngNativeValidate>
        <div  data-html2canvas-ignore="true"  class="table-responsive tableexport-ignore">
            <table class="table" name="excel">
                <thead>
                    <tr>
                        <th class="col-xs-1"><strong>Servicio Ida</strong></th>
                        <th class="col-xs-1"><strong>Pelicula</strong></th>
                        <th class="col-xs-1"><strong>Video In</strong></th>
                        <th class="col-xs-1"><strong>Desde</strong></th>
                        <th class="col-xs-1"><strong>Hasta</strong></th>
                        <th class="col-xs-2 col-md-3"><strong>Conductor</strong></th>
                        <th class="col-xs-2"><strong>Interno Veh.</strong></th>
                        <th class="col-md-2 col-xs-3"><strong>Servicio de Regreso &nbsp; &nbsp;&nbsp;</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ _vv.serv.servicioPK.serFechaHora | date:'EE HH:mm' }} </td>
                        <td><input type="text" required formControlName="peliIda" data-toggle="tooltip" animation="true" data-placement="top" title="Pelicula" onmouseenter="$(this).tooltip('show')" class="input-sm form-control"></td>
                        <td><input type="text" required formControlName="videoIda" data-toggle="tooltip" animation="true" data-placement="top" title="Video" onmouseenter="$(this).tooltip('show')" class="input-sm form-control"></td>
                        <td>{{ _vv.serv.escalaSalida }}<br>{{ _vv.serv.fechaHoraSalida | date:'EE HH:mm' }}</td>
                        <td>{{ _vv.serv.escalaLlegada }}<br>{{ _vv.serv.fechaHoraLlegada | date:'EE HH:mm' }}</td>
                        <td><button *ngFor="let c of _vv.choferesIda;let i=index" 
                                    type="button" 
                                    class="btn btn-primary btn-xs"
                                    [appColorBotonEstadoChofer]="[c.choferPK!=null?c.choferPK:null, c.fechaHoraSalida, c.fechaHoraLlegada, _vv.serv.servicioPK ]"                                     
                                    (click)="modificarChoferesEtapasIda(_vv.serv)" >
                                    {{c.nombreConTipo}}
                            </button>
                            <button *ngIf="_vv.choferesIda.length===0"
                                    type="button" 
                                    (click)="modificarChoferesEtapasIda(_vv.serv)"
                                    class="btn btn-primary btn-xs" > 
                                    Asignar Choferes 
                            </button>                            
                        </td>
                        <td>   
                            <button *ngFor="let v of _vv.vehiculosIda" 
                                    type="button" 
                                    class="btn btn-primary btn-xs"
                                    [appColorBotonEstadoVehiculo]="[v.vehiculoPK!=null?v.vehiculoPK:null, v.fechaHoraSalida, v.fechaHoraLlegada, _vv.serv.servicioPK ]"                                     
                                    (click)="modificarChoferesEtapasIda(_vv.serv)" >
                                    {{v.vehiculoPK.vehInterno}}
                            </button>
                            <button *ngIf="_vv.vehiculosIda.length===0"
                                    type="button" 
                                    (click)="modificarChoferesEtapasIda(_vv.serv)"
                                    class="btn btn-primary btn-xs" > 
                                    Asignar Unidad 
                            </button>                                                            
                        </td>
                        <td> <select formControlName="servRetorno" class="input-sm form-control" #t (change)="onChangeServRetorno( t.value)" title="Servicio Vta" placeholder="Servicio Vta" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')"
                                required>
                                <option [selected]="formVueltas.controls.servRetorno.value == null">-- Seleccionar --</option>
                                <option *ngFor="let opt of _vs.serviciosVta|serMayoIgual:_vv.serv.fechaHoraLlegada"
                                    [value]="opt.servicioPKStr">{{
                                    opt.detalle }}</option>
                            </select></td>
                        <td>
                            <button *ngIf="_vv.vuelta" (click)="cancelarEdicion()" type="submit" class="btn btn-xs botonVuelta">
                                <i title="Cancelar" class="fa fa-window-close fa-2x red" data-toggle="tooltip"
                                    animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')"
                                    aria-hidden="true"></i></button>
                            <button   data-html2canvas-ignore="true"  type="submit" class="btn btn-xs botonVuelta">
                                <i title="Guardar" data-toggle="tooltip" animation="true" data-placement="top"
                                    onmouseenter="$(this).tooltip('show')" class="fa fa-floppy-o fa-2x green"
                                    aria-hidden="true"></i>
                            </button>
                            <button    data-html2canvas-ignore="true"  *ngIf="_vv.vuelta" type="button" (click)="eliminarVta()" class="btn btn-xs botonVuelta">
                                <i title="Eliminar" data-toggle="tooltip" animation="true" data-placement="top"
                                    onmouseenter="$(this).tooltip('show')" class="fa fa-trash fa-2x red" aria-hidden="true"></i>
                            </button>                           
                        </td>
                    </tr>
                    <tr *ngIf="_vv.servRet">
                        <td>{{ _vv.servRet.servicioPK.serFechaHora | date:'EE HH:mm' }}</td>
                        <td><input formControlName="peliVta" type="text" data-toggle="tooltip" animation="true" data-placement="top" title="Pelicula" onmouseenter="$(this).tooltip('show')" class="input-sm form-control" required></td>
                        <td><input formControlName="videoVta" type="text" data-toggle="tooltip" animation="true" data-placement="top" title="Pelicula" onmouseenter="$(this).tooltip('show')" class="input-sm form-control" required></td>
                        <td>{{ _vv.servRet.escalaSalida }}<br>{{ _vv.servRet.fechaHoraSalida | date:'EE HH:mm' }}</td>
                        <td>{{ _vv.servRet.escalaLlegada }}<br>{{ _vv.servRet.fechaHoraLlegada | date:'EE HH:mm' }}</td>
                        <td> <button *ngFor="let c of _vv.choferesVta;let i=index" 
                                    type="button" 
                                    class="btn btn-primary btn-xs"
                                    [appColorBotonEstadoChofer]="[c.choferPK!=null?c.choferPK:null, c.fechaHoraSalida, c.fechaHoraLlegada, _vv.servRet.servicioPK ]"                                     
                                    (click)="modificarChoferesEtapasVta(_vv.servRet)" >        
                                    {{c.nombreConTipo}}
                            </button> 
                            <button *ngIf="_vv.choferesVta.length===0"
                                    type="button" 
                                    (click)="modificarChoferesEtapasVta(_vv.servRet)"
                                    class="btn btn-primary btn-xs" > 
                                    Asignar Choferes 
                            </button>                              
                        </td>
                        <td>
                            <button *ngFor="let v of _vv.vehiculosVta" 
                                    type="button" 
                                    class="btn btn-primary btn-xs"
                                    [appColorBotonEstadoVehiculo]="[v.vehiculoPK!=null?v.vehiculoPK:null, v.fechaHoraSalida, v.fechaHoraLlegada, _vv.servRet.servicioPK ]"                                     
                                    (click)="modificarChoferesEtapasVta(_vv.servRet)" >        
                                    {{v.vehiculoPK.vehInterno}}
                            </button> 
                            <button *ngIf="_vv.vehiculosVta.length===0"
                                    type="button" 
                                    (click)="modificarChoferesEtapasVta(_vv.servRet)"
                                    class="btn btn-primary btn-xs" > 
                                    Asignar Unidad 
                            </button>            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</ng-container>
<ng-container  *ngIf="_vv.vuelta&&!_vv.editable" >
    <app-view-vuelta-de-vuelta [serv]="_vv.serv" (onEditable)="cambiarEditable($event)"></app-view-vuelta-de-vuelta>
</ng-container>