<br>
<br>
<div class="container">
    <app-search-by-fecha [fechaInicio]="_vs.inicio" [fechaFin]="_vs.fin" (buscarByFecha)="buscar($event)"></app-search-by-fecha>
    <br>
    <div *ngIf="_vs.loaded">
        <div *ngFor="let f of _vs.fechas">
            <span><strong>{{f|date:'EEEE dd'}} {{f|date:'MMMM yyyy' }} Lineas [ {{_vs.idLinIda}} - {{_vs.idLinVta}} ] </strong></span>

            <div *ngFor="let serv of _vs.serviciosIda|filterByFecha:f">
                <!-- <app-vuelta-de-vuelta [serv]="serv"></app-vuelta-de-vuelta> -->
                <app-view-vuelta-de-vuelta [serv]="serv" ></app-view-vuelta-de-vuelta>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="volver()" data-dismiss="modal" data-dismiss="modal">Volver</button>