<br>
<br>
<app-search-by-fecha [fechaInicio]="_vs.inicio" [fechaFin]="_vs.fin" (buscarByFecha)="buscar($event)"></app-search-by-fecha>
<br>
<div *ngFor="let f of _vs.fechas">
    <span><strong>{{f|date:'EEEE dd' }} {{f|date:'MMMM yyyy' }} Lineas [ {{_vs.idLinIda}} - {{_vs.idLinVta}} ] </strong></span>
    <hr class="style13">
    <div class="row">
        <div class="col-md-1"><strong>Hs Serv</strong></div>
        <div class="col-md-1"><strong>Desde</strong></div>
        <div class="col-md-1"><strong>Salida</strong></div>
        <div class="col-md-1"><strong>Hasta</strong></div>
        <div class="col-md-1"><strong>LLegada</strong></div>
        <div class="col-md-2"><strong>Conductor</strong></div>
        <div class="col-md-2"><strong>Interno</strong></div>
        <div class="col-md-2"><strong>Ser. Regreso</strong></div>
    </div>
    <div *ngFor="let serv of _vs.serviciosIda|filterByFecha:f">
        <div class="row">
            <div class="col-md-1">{{ serv.servicioPK.serFechaHora | date:'HH:mm' }} </div>
            <div class="col-md-1">{{ serv.escalaSalida }}</div>
            <div class="col-md-1">{{ serv.fechaHoraSalida | date:'HH:mm' }}</div>
            <div class="col-md-1">{{ serv.escalaLlegada }}</div>
            <div class="col-md-1">{{ serv.fechaHoraLlegada | date:'HH:mm' }}</div>
            <div class="col-md-2">
                <select class="form-control">
                      <option value="">-- Seleccionar --</option>
                      <option *ngFor="let opt of _vs.choferes" [value]="opt.choferPK">
                          {{opt.nombreChofer}}
                      </option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                      <option  value="null">-- Seleccionar --</option>
                      <option *ngFor="let opt of _vs.vehiculos"  [value]="opt.vehiculoPK">
                          {{opt.interno}}
                      </option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" title="Servicio Vta" placeholder="Servicio Vta" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')">
                  <option  value="null" >-- Seleccionar --</option>
                  <option *ngFor="let opt of _vs.serviciosVta|serMayoIgual:f" [value]="opt.servicioPKStr">{{ opt.detalle }}</option>
                </select>
            </div>
        </div>

    </div>

</div>
<button type="button" class="btn btn-default" (click)="volver()" data-dismiss="modal" data-dismiss="modal">Volver</button>