<br>
<br>
<app-search-by-fecha [fechaInicio]="_vs.inicio" [fechaFin]="_vs.fin" (buscarByFecha)="buscar($event)"></app-search-by-fecha>
<!--
  https://getbootstrap.com/docs/3.3/components/#badges
-->
<br>
<div *ngFor="let f of _vs.fechas">
    <span><strong>{{f|date:'EEEE dd' }} {{f|date:'MMMM yyyy' }} Lineas [ {{_vs.idLinIda}} - {{_vs.idLinVta}} ] </strong></span>
    <hr class="style13">
    <div class="row">
        <div class="col-md-2"><strong>F. Serv</strong></div>
        <div class="col-md-1"><strong>Desde</strong></div>
        <div class="col-md-1"><strong>Salida</strong></div>
        <div class="col-md-1"><strong>Hasta</strong></div>
        <div class="col-md-1"><strong>LLegada</strong></div>
        <div class="col-md-2"><strong>Conductor</strong></div>
        <div class="col-md-2"><strong>Interno</strong></div>
        <div class="col-md-2"><strong>Ser. Regreso</strong></div>
    </div>
    <div *ngFor="let serv of _vs.serviciosIda|filterByFecha:f">
        <div class="row">
            <div class="col-md-2">{{ serv.servicioPK.serFechaHora | date:'EE HH:mm' }} </div>
            <div class="col-md-1">{{ serv.escalaSalida }}</div>
            <div class="col-md-1">{{ serv.fechaHoraSalida | date:'HH:mm' }}</div>
            <div class="col-md-1">{{ serv.escalaLlegada }}</div>
            <div class="col-md-1">{{ serv.fechaHoraLlegada | date:'HH:mm' }}</div>
            <div class="col-md-2">
                <!-- <select class="form-control">
                      <option value="">-- Seleccionar --</option>
                      <option *ngFor="let opt of _vs.choferes" [value]="opt.choferPK">
                          {{opt.nombreChofer}}
                      </option>
                </select>-->
                <select class="form-control">
                  <option  value="null">-- Seleccionar --</option>
                  <option
                   *ngFor="let opt of _vs.choferesOcupacion|choferesConEstado:serv.fechaHoraSalida:serv.fechaHoraLlegada"  [value]="opt.choferPKStr"
                   [ngClass]="opt.classCho" >
                      {{opt.nombre}}
                  </option>
            </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                      <option  value="null">-- Seleccionar --</option>
                      <option *ngFor="let opt of _vs.vehiculos"  [value]="opt.vehiculoPK">
                          {{opt.interno}}
                      </option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" #t (change)="_vs.onChangeServRetorno(serv, t.value)" title="Servicio Vta" placeholder="Servicio Vta" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')">
                  <option  value="null" >-- Seleccionar --</option>
                  <option *ngFor="let opt of _vs.serviciosVta|serMayoIgual:serv.fechaHoraLlegada" [value]="opt.servicioPKStr">{{ opt.detalle }}</option>
                </select>
            </div>
            <div class="col-md-2">
                <a class="btn btn-xs" data-toggle="modal">
                    <i title="Editar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-pencil fa-2x green" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <ng-container *ngIf="serv.servicioRetorno">
            <app-vuelta-de-vuelta [servicio]="serv.servicioRetorno"></app-vuelta-de-vuelta>
        </ng-container>
        <hr>

    </div>


</div>
<button type="button" class="btn btn-default" (click)="volver()" data-dismiss="modal" data-dismiss="modal">Volver</button>