
<div class="container">
    <app-search-by-fecha [fechaInicio]="_vs.inicio" [fechaFin]="_vs.fin" (buscarByFecha)="buscar($event)"></app-search-by-fecha>
    <br>
    <div *ngIf="_vs.loaded"  id="contentToConvert"> <!--se debe sacar de aca luego-->
        
        <h3 class="text-center">Diagramaci&#243;n de Servicios</h3>
        
        <ng-container *ngIf="_vs.serviciosIda.length > 0">
            <div *ngFor="let f of _vs.fechas" >
                <span ><strong>{{f|date:'EEEE dd'}} {{f|date:'MMMM yyyy' }} Ida [ {{_vs.idLinIda}} ] {{_vs.lineaIda?_vs.lineaIda.linNombre:''}}  /  Vuelta  [ {{_vs.idLinVta}} ] {{(_vs.lineaVta)?_vs.lineaVta.linNombre:''}} </strong></span>

                <div *ngFor="let serv of _vs.serviciosIda|filterByFecha:f">
                    <app-vuelta-de-vuelta [servInput]="serv"></app-vuelta-de-vuelta>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="_vs.serviciosIda.length === 0">
            <div class="alert alert-warning" role="alert">
                La linea de Ida no tiene Servicios para Diagramar!!!!!
            </div>
        </ng-container>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="volver()" data-dismiss="modal" data-dismiss="modal">Volver</button>
    
  <ng-container *ngIf="_vs.serviciosVta.length > 0">
<div class="text-center">
<!--button type="button" class="btn btn-primary" value="CPTURE" (click)="captureScreen()">GENERAR PDF</button>
    <button type="button" class="btn btn-primary" value="EXCEL" (click)="generateExcel()">GENERAR EXCEL</button-->
    <a type="button" class="btn" value="CPTURE" (click)="captureScreen()"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></i></a>
    <a type="button" class="btn" value="EXCEL" (click)="generateExcel()"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true" style="color: darkgreen;"></i></a>
</div>
</ng-container>
