<br>
<br>
<div class="col-md-12">
    <div>
        <div class="form-group row">
            <label class="col-md-4">
                <h3 class="title">Vencimientos</h3>
            </label>
            <div class="col-md-8">
            </div>    
        </div>
    </div>    
    <hr>
    <div *ngIf="this.vencimientosLoaded&&allVencimientos.length > 0">
            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>Entidad</th>
                    <th>Propiedad a Controlar</th>
                    <th>Habilitado</th>                    
                    <th>Anticipación</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of allVencimientos" >
                        <td>{{v.tipoVencimiento.nombreEntidad}}</td>
                        <td>{{v.tipoVencimiento.descNombreCampo}}</td>
                        <!-- <td>{{v.activo}}</td> -->
                        <td> 
                            <i class="fa fa-2x"
                               [ngClass]="{ 'fa-toggle-on green':v.activo,
                                            'fa-toggle-off red':!v.activo }"></i>                            
                        </td>                        
                        <td>{{v.cantidadAnticipacion}}</td>
                        <td>                    
                            <a class="btn btn-xs" (click)="editarVencimiento( v )" >
                                <i title="Editar" onmouseenter="$(this).tooltip('show')" 
                                        class="fa fa-pencil fa-2x green" ></i>
                            </a>            
                            <a class="btn btn-xs" (click)="deleteVencimiento( v )" >
                                <i title="Eliminar"  onmouseenter="$(this).tooltip('show')" 
                                        class="fa fa-trash-o fa-2x red" ></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div> 
    <div *ngIf="this.vencimientosLoaded&&allVencimientos.length === 0" class="alert alert-info" >
             No existen vencimientos cargados.
     </div>    
    
    <br>
    <br>
    <br>
    <br>
    <div class="center-block" >
        <form ngNativeValidate [formGroup]="vencimientosForm">
            <div class="col-md-12">
                <div>                
                    <div class="row">                        
                        <label class="col-md-4  text-left">Vencimiento a Controlar</label>
                        <label class="col-md-1  text-left">Habilitado</label>                        
                        <label class="col-md-2  text-left">Anticipación</label>                    
                    </div>            
                    <div class="form-group row" >                        
                        <div *ngIf ="!vencimientoEdit"class="col-md-4">
                            <select class="form-control" formControlName="tipoVencimiento" required>
                                <option [selected]="vencimientosForm.controls.tipoVencimiento.value == null" value="null" >-- Seleccionar --</option>
                                <option *ngFor="let t of tiposVencLibres" [value]="t.id">
                                    {{t.nombreEntidad}} => {{t.descNombreCampo}}
                                </option>    
                            </select>    
                        </div>
                        <div *ngIf ="vencimientoEdit" class="col-md-4">
                                <span class="form-control">
                                    {{vencimientoEdit.tipoVencimiento.nombreEntidad}} => 
                                    {{vencimientoEdit.tipoVencimiento.descNombreCampo}}
                                </span>      
                            </div>
                        <div class="col-md-1">
                            <label class="switch" id="my-switch">
                                    <input type="text" placeholder="Estado"
                                    type="checkbox" 
                                    [checked]="toEstado()" 
                                    (click)="cambiarEstado()" >                                        
                                    <span class="slider round"></span>                                        
                            </label>
                        </div>                       
                        <div class="col-md-2">                         
                            <input type="text" placeholder="dias" class="form-control" formControlName="cantidadAnticipacion" required>                                                                                                         
                        </div>                                                                                                                               
                    </div>            
                </div>
            </div>
            <br><br>
            <div class="col-md-5">
                <div class="row text-right">
                    <button type="button" class="btn btn-outline-primary mr-4 btn-cancelar-scores" (click)="onCancel()">Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary btn-primary-orange" (click)="guardarVencimiento()">Guardar</button>
                </div>
            </div>
                <!-- <pre>{{vencimientosForm.value|json}}</pre> -->
        </form>   
    </div>    
    
</div>            





