@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file,
and also import other style files */

body {
    font-size: 12px;
}

.navbar {
    min-height: 65px;
    /*50 */
}

.input-sm {
    padding: 4px 0px !important;
}

.navbar-brand {
    padding: 7px 15px;
}

.container {
    width: 100% !important;
}

@media screen and (min-width: 768px) {
    min-height: 65px;
    /*50 */
}

@media (max-width: 767px) {
    min-height: 65px;
    /*50 */
}

.form-group {
    font-size: 9pt;
}

.combosForm {
    font-size: 9px;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #696969;
}

a:hover,
a:focus {
    /* cursor: none;*/
    color: #808080;
    text-decoration: none;
}

th {
    text-align: inherit;
    font-weight: normal;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #696969;
    font-weight: bold;
    background-color: transparent;
}

.nav-tabs>li {
    font-size: 12px;
}

.nav-tabs>li.active>a {
    border-top-color: #555555;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    /* border-color: whitesmoke;*/
    border: none;
}

.table {
    margin-top: 20px;
    align-self: center;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border: none !important;
}

.modal-header {
    border: none !important;
    margin-bottom: -20px;
}


/* .modal-body{
    padding-bottom: 187px;
}
*/

div#delete-modal>.modal-body {
    padding-bottom: 0px !important;
}

.table-responsive {
    margin-top: 5px !important;
}

.combosForm {
    font-size: 9px;
    color: #888;
    /*font-weight: bold;*/
}

.form-group {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
}

.crearbtn {
    float: right !important;
}

.btnMarginTop {
    margin-top: 23px !important;
}

.form-group ::-webkit-option-placeholder {
    font-size: 9px;
    opacity: 1;
}

.form-group ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 9px;
    /*font-style: italic;*/
    opacity: 1;
}

.form-group ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 9px;
    /*font-style: italic;*/
    opacity: 1;
}

.form-group :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 9px;
    /*font-style: italic;*/
    opacity: 1;
}

.form-group :-moz-placeholder {
    /* Firefox 18- */
    font-size: 9px;
    /*font-style: italic;*/
    opacity: 1;
}

.bootstrap-frm {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: none !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=0);
    opacity: .0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #EDEDED;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DDDADA;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.fecha {
    margin-right: 30px;
    margin-left: 2px;
}

input[type=date] {
    vertical-align: middle !important;
}

.red {
    color: red;
    opacity: 0.7;
}

.green {
    color: green;
    opacity: 0.7;
}

.blue {
    color: blue;
    opacity: 0.7;
}

.botonVuelta {
    background: none;
}


/*/////////////*/

.tootlbar-icon {
    padding: 0 14px;
}

.tootlbar-spacer {
    flex: 1 1 auto;
}

.badge-success {
    background-color: #4BA54B !important;
}

.badge-warning {
    background-color: #FCBF07 !important;
}

.badge-yellow {
    background-color: #fdfd96 !important;
}

.badge-primary {
    background-color: #007BFF !important;
}

.badge {
    margin-bottom: 1% !important;
    font-size: 9px !important;
}

.badge-white {
    background-color: white !important;
}


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 99999999999999999999999999999999999999999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.alert-danger>ul>li {
    list-style: none;
    border-left: 1px;
    margin-left: -47px;
}

.alert-danger {
    display: inline-block;
    margin-top: 1em;
    /*height: 34px;*/
}


/*.alert{
  padding: 10px;
}*/

.table-hover>tbody>tr:hover {
    background-color: #E4E4E4;
}


/*********************************/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}


/*********************************/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.pseudoBot {
    text-decoration: none;
    color: white !important;
}

.pseudoBot:hover,
.pseudoBot:focus {
    color: white !important;
    text-decoration: none;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style14 {
    border: 0;
    height: 2px;
    text-align: center;
    background-image: linear-gradient(to left, #fff, #000, #fff);
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100PX;
    z-index: 999999;
}

 /**** The switch - the box around the slider ****/

 .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red !important;
    opacity: 0.7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green !important;
    opacity: 0.7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green !important;
    opacity: 0.7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  #my-switch{
      margin-bottom: -10px !important;
  }


  