<div *ngIf="chofer != null">

<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" #closeBtn >
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">Modificando Carnets de Chofer{{ ' ' + chofer.cho_legajo}} </h4>
        </div>
    <div class="modal-body">    

<section class="sample-app-content">
     <form  [formGroup]="formCarnet" (ngSubmit)="onSubmitTemplateBased()" novalidate >         
        <div class="col-xs-12 col-md-12">       
        <div formArrayName="carnets" class="well well-lg">                 
                    <div *ngFor="let carnet of carnets.controls; let i=index"  >                            
                        <div class="row">
                            <div class="panel-heading">
                                    <span>Carnet </span>
                                    <span class="glyphicon glyphicon-remove pull-right" (click)="borrarCarnet(i)"></span>
                            </div> 
                            <div class="panel-body" [formGroupName]="i">  
                                <div *ngIf="isNuevo(i)">
                                <div class="form-group">                                                            
                                    <select class="form-control" formControlName="tipo"  title="Tipo" placeholder="Tipo"
                                        #t (change)="onChangeTipo(t.value, i)"  data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >                                            
                                        <option [selected]="tipoByIndex(i) == null" value="">-- Seleccionar --</option>
                                        <option *ngFor="let opt of comboTipos"   [selected]="opt.codigo == tipoByIndex(i)" [value]="opt.codigo">
                                                {{opt.descripcion}}
                                        </option>          	
                                    </select>                            
                                </div>
                               </div>   
                               <div *ngIf="!isNuevo(i)">
                                       <div class="form-group">
                                               <input data-toggle="tooltip" animation="true" data-placement="top"
                                               onmouseenter="$(this).tooltip('show')" title="Tipo"
                                                [readonly] ="true" type="text" placeholder="Tipo" class="form-control" 
                                               [value]="getDescripcion(i)" >
                                       </div>
                               </div>          
                                    <control-mensajes [errores]="todosErrores[i].tipo"></control-mensajes>      
                                <div class="form-group">                                                
                                    <input type= "date"  class="form-control"  placeholder="F Emision" title="F Emision"    formControlName="fechaEmision"
                                        data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >    
                                    </div>
                                   <control-mensajes [errores]="todosErrores[i].fechaEmision"></control-mensajes>  
                                <div class="form-group">                                                
                                    <input type= "date"  class="form-control"  placeholder="F Vencimiento"  title="F Vencimiento"  formControlName="fechaVenc"
                                        data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" > 
                                    </div>
                                <control-mensajes [errores]="todosErrores[i].fechaVenc"></control-mensajes>  
                                <div class="form-group">
                                    <input type="text" placeholder="Numero Carnet" formControlName="numeroCarnet" class="form-control"   title="Numero Carnet" 
                                    data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >
                                </div>
                              <control-mensajes [errores]="todosErrores[i].numeroCarnet"></control-mensajes>  
                                <div class="form-group" >
                                    <input type="textarea" placeholder="Observaciones" formControlName="observaciones" class="form-control"   title="Observaciones"
                                    data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" >
                                </div>
                                    <control-mensajes [errores]="todosErrores[i].observaciones"></control-mensajes>                                      
                                                                                               
                            </div>                                    
                        </div>                          
                    </div>  
                    <control-mensajes [errores]="erroresGrales"></control-mensajes>                                                       
              </div>                     
           <!-- <p>{{ formCarnet.value | json }} </p> -->
          </div>
        </form>                      
 </section>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-primary" (click)="addNuevoCarnet()" >Agregar</button>
    <button type="button" (click)="salvarCarnet()" class="btn btn-primary" >Guardar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Volver</button>
</div> 
</div> 

</div>          

