<div class="panel panel-danger">
  <div class="panel-heading">Atención Fechas de Vencimiento!!!</div>
  <div class="panel-body">
    <div class='row'>
        <div class='col-md-2'>Interno</div> 
        <div class='col-md-2'>Patente</div> 
        <div class='col-md-2'>Mapa</div> 
        <div class='col-md-3'>Fecha Verificación</div> 
        <div class='col-md-3'>Vencido</div> 
    </div>      
    <div *ngFor="let v of vehiculos" class='row'>
      <div class='col-md-2'>{{v.vehiculoPK.vehEmpCodigo}} - {{v.vehiculoPK.vehInterno}}</div>
      <div class='col-md-2'>{{v.vehPatente}}</div>
      <div class='col-md-2'>{{v.vehMpaDesc}}</div>
      <div class='col-md-3'>{{v.vehVerificacionTecnica | date:'dd/MM/yyyy'}}</div>
      <div class='col-md-3'>
          <span class="label" [ngClass]="v.vehVencido?'label-danger':'label-warning'" >
              {{v.vehVencido?"Vencido":"Proximo"}}</span>  

      </div> 
    </div>
  </div>
</div>