<br>
<app-chofer-vencimiento [vencimientosCho]="vencimientosCho"></app-chofer-vencimiento>
<ng-container *ngIf="choferPage != null">
    <div id="list" class="row animated fadeIn ">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>
                            Imagen
                        </th>    
                        <th>
                            <app-table-sort [table]="self" [page]="choferPage" [label]="'Rol'" [property]="'cho_chofer'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="choferPage" [label]="'Legajo'" [property]="'cho_legajo'">Legajo</app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="choferPage" [label]="'Nombre'" [property]="'cho_nombre'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="choferPage" [label]="'Estado'" [property]="'cho_estado'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="choferPage" [label]="'Id Aux'" [property]="'cho_id_aux'"></app-table-sort>
                        </th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let chofer of choferPage.content">
                        <td class='w70'>     
                             <img *ngIf="!chofer.foto||chofer.foto.length===0" 
                                  (click)="cambiarImagenModal( chofer.choferPK )" 
                                  class="img-responsive" src="assets/img/no-img.jpg">                        
                             <img *ngIf="chofer.foto&&chofer.foto.length>0" 
                                  (click)="cambiarImagenModal( chofer.choferPK )" 
                                  [src]="chofer.foto | imagen:'choferes'" class="w50 img-circle pointer" /> 
                        </td>
                        <td>{{ chofer.cho_chofer == 0 ? 'Conductor' : 'Auxiliar'}}</td>
                        <td>{{chofer.cho_legajo}}</td>
                        <td>{{chofer.cho_nombre}}</td>
                        <td>
                            <label>
                                <div *ngIf="chofer.cho_estado==estados[0].codigo == 1">
                                    <a  (click)="cambiarEstado( chofer )" data-toggle="modal" data-target="#update-modal">
                                        <i class="fa fa-toggle-on fa-2x green" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div *ngIf="chofer.cho_estado==estados[0].codigo == 0">
                                        <a  (click)="cambiarEstado( chofer )" data-toggle="modal" data-target="#update-modal"                                        >
                                            <i class="fa fa-toggle-off fa-2x red" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!--input type="checkbox" [checked]="chofer.cho_estado==estados[0].value"
                                            (change)="$event.target.checked? (chofer.cho_estado = estados[0].value) : (chofer.cho_estado = estados[1].value);cambiarEstado(chofer)" >
                                    <span class="slider round"></span-->                                        
                            </label>
                        </td>
                        <td>{{chofer.cho_id_aux}}</td>
                        <td class="actions">
                            <a class="btn btn-xs" (click)="modificarChofer( chofer )" >
                                <i title="Editar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-pencil fa-2x green" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-xs" (click)="openCarnets( chofer )" >
                                <i title="Carnets" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-id-card-o fa-2x green" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-xs" (click)="openIncidencias( chofer )" >
                                <i title="Incidencias" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-calendar fa-2x red" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-xs" (click)="deleteChofer( chofer )" >
                                <i title="Eliminar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-trash-o fa-2x red" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /#list -->
    <div class="col-md-12 text-left">
        <a class="btn btn-primary" (click)="crearNuevo()" >Crear</a>
    </div>
    <app-table-pagination class="text-center" [table]="self" [page]="choferPage" >

    </app-table-pagination>
</ng-container>
