<ng-container *ngIf="vehiculoPage != null">
    <div id="list" class="row animated fadeIn">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Interno'" [property]="'vehiculoPK.vehInterno'"></app-table-sort>
                        </th>
                        <th>
                            <!-- <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Patente'" [property]="'patente'"></app-table-sort>-->
                            Patente
                        </th>
                        <th>
                            <!--<app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Carroceria'" [property]="'vehCarroceria'"></app-table-sort>-->
                            Carroceria
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Mapa'" [property]="'vehMpaCodigo'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Estado'" [property]="'vehEstado'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Ult.Verif'" [property]="'vehVerificacionTecnica'"></app-table-sort>
                        </th>

                        <th class="actions"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let vehiculo of vehiculoPage.content">
                        <td>{{vehiculo.vehiculoPK.vehInterno}}</td>
                        <td>{{vehiculo.vehPatente}}</td>
                        <td>{{vehiculo.vehCarroceria}}</td>
                        <td>{{vehiculo.vehMpaCodigo}}</td>
                        <td>
                                <div *ngIf="vehiculo.vehEstado == estados[0].codigo == 1">
                                        <a  (click)="cambiarEstado(vehiculo)" data-toggle="modal" data-target="#update-modal">
                                            <i class="fa fa-toggle-on fa-2x green" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div *ngIf="vehiculo.vehEstado==estados[0].codigo == 0">
                                            <a  (click)="cambiarEstado(vehiculo)" data-toggle="modal" data-target="#update-modal"                                        >
                                                <i class="fa fa-toggle-off fa-2x red" aria-hidden="true"></i>
                                            </a>
                                        </div>
                            <!--label class="switch">
                                <input type="checkbox" [checked]="vehiculo.vehEstado==estados[0].value"
                                (change)="$event.target.checked? (vehiculo.vehEstado = estados[0].value) : (vehiculo.vehEstado = estados[1].value);cambiarEstado(vehiculo)"  >
                                <span class="slider round"></span>
                            </label-->
                        </td>
                        <td>{{ vehiculo.vehVerificacionTecnica | date:'dd/MM/yyyy' }}</td>
                        <td class="actions">
                            <a class="btn btn-xs" (click)="modificarVehiculo(vehiculo)" data-toggle="modal" data-target="#details-modal">
                                <i title="Editar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-pencil fa-2x green" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-xs" (click)="currentVehiculo=vehiculo" data-toggle="modal" data-target="#details-Incidencias">
                                <i title="Incidencias" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-calendar fa-2x red" aria-hidden="true"></i>

                            </a>
                            <a class="btn btn-xs" (click)="delete( vehiculo )" data-toggle="modal" data-target="#delete-modal">
                                <i title="Eliminar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-trash-o fa-2x red" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
    <!--boton crear-->
    <div id="actions" class="row">
        <div class="col-md-12 text-left">
            <a class="btn btn-primary" (click)="crearNuevo()" >Crear</a>
        </div>
    </div>
    <app-table-pagination class="text-center" [table]="self" [page]="vehiculoPage"></app-table-pagination>
</ng-container>


