<br>
<app-vehiculo-vencimiento  [vencimientosVeh]="vencimientosVeh" ></app-vehiculo-vencimiento>

<ng-container *ngIf="vehiculoPage != null">

    <div class='container'>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <input #busqueda type='text' 
                                (keyup.enter)="buscarUsuarios( busqueda.value)" 
                                placeholder="Buscar por numero de Interno"                           
                                class="form-control" uppercase >
                    </div>
                </div>
            </div>
    </div>      

    <div id="list" class="row animated fadeIn">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Interno'" [property]="'vehiculoPK.vehInterno'"></app-table-sort>
                        </th>
                        <th>
                            <!-- <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Patente'" [property]="'patente'"></app-table-sort>-->
                            Patente
                        </th>                       
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Mapa'" [property]="'vehMpaCodigo'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Estado'" [property]="'vehEstado'"></app-table-sort>
                        </th>
                        <th>
                            <app-table-sort [table]="self" [page]="vehiculoPage" [label]="'Vto Verificacion'" [property]="'vehVerificacionTecnicaVto'"></app-table-sort>
                        </th>

                        <th class="actions"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let vehiculo of vehiculoPage.content;let i=index"
                        [class.active]="i == vehiculoPage.rowSelected"  
                        (click)="setRowSelected( i )" >
                        <td>{{vehiculo.vehiculoPK.vehInterno}}</td>
                        <td>{{vehiculo.vehPatente}}</td>                        
                        <td>{{vehiculo.vehMpaDesc}}</td>
                        <td>
                                <div *ngIf="vehiculo.vehEstado == estados[0].codigo == 1">
                                        <a  (click)="cambiarEstado(vehiculo)" data-toggle="modal" data-target="#update-modal">
                                            <i class="fa fa-toggle-on fa-2x green" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div *ngIf="vehiculo.vehEstado==estados[0].codigo == 0">
                                            <a  (click)="cambiarEstado(vehiculo)" data-toggle="modal" data-target="#update-modal"                                        >
                                                <i class="fa fa-toggle-off fa-2x red" aria-hidden="true"></i>
                                            </a>
                                        </div>
                          
                        </td>
                        <td>
                            <div *ngIf="vehiculo.vehEstado===HABILITADO">                             
                                <h5 *ngIf="vehiculo.vencimientos.length >0" ><span class="label"  [appColorVencimiento]="[vehiculo.vencimientos,'vehVerificacionTecnica']">
                                    {{ vehiculo.vehVerificacionTecnicaVto | date:'dd/MM/yyyy' }}
                                </span></h5>   
                                <div *ngIf="vehiculo.vencimientos.length==0" >
                                    {{ vehiculo.vehVerificacionTecnicaVto | date:'dd/MM/yyyy' }}
                                </div>
                            </div>                            
                        </td>
                        <td class="actions">
                            <a class="btn btn-xs" (click)="modificarVehiculo( vehiculo )" >
                                <i title="Editar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-pencil fa-2x green" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-xs" (click)="modificarIncidencias( vehiculo )" >
                                <i title="Incidencias" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-calendar fa-2x red" aria-hidden="true"></i>

                            </a>
                            <a class="btn btn-xs" (click)="delete( vehiculo )" >
                                <i title="Eliminar" data-toggle="tooltip" animation="true" data-placement="top" onmouseenter="$(this).tooltip('show')" class="fa fa-trash-o fa-2x red" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
    <!--boton crear-->
    <div id="actions" class="row">
        <div class="col-md-12 text-left">
            <a class="btn btn-primary" (click)="crearNuevo()" >Crear</a>
        </div>
    </div>
    <app-table-pagination class="text-center" [table]="self" [page]="vehiculoPage"></app-table-pagination>
</ng-container>


